<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125540422140-vvkrsbsvo1on5c6qdaf8qipqib1eg3a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125540422140-vvkrsbsvo1on5c6qdaf8qipqib1eg3a0</string>
	<key>API_KEY</key>
	<string>AIzaSyAOjdD8NZ3T7G_UqcGbaQlwoTMBSdKjm4E</string>
	<key>GCM_SENDER_ID</key>
	<string>125540422140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification02</string>
	<key>PROJECT_ID</key>
	<string>push-notification-ios-d3b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-ios-d3b8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125540422140:ios:854fc6178e540ab812e279</string>
</dict>
</plist>